:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body {
    background: url('img/bg-desktop.webp');
    background-size: cover;
    font-family: Bai Jamjuree, sans-serif;
}

/* CONTAINER */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* CARTÕES */
.cartao {
    margin: 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    position: relative;
    perspective: 1000px;
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    position: relative;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.2vw;
}

/* PERGUNTA */
.cartao__conteudo__pergunta p {
    color: var(--text-color);
    font-weight: 500;
}

/* RESPOSTA */
.cartao__conteudo__resposta p {
    color: var(--card-back-color);
    font-weight: 700;
}

.cartao:hover .cartao__conteudo {
    transform: rotateY(180deg);
}

/* Faces do cartão */
.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

/* RESPONSIVIDADE */
@media (max-width: 560px) {

    body {
        background: url('img/bg-mobile.webp');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem);
        height: 15rem;
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}
